<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Task/Event Reminder</title>
</head>
<body>
    <header>
        <img src="/static/img/logo.png" alt="">
        <h1>Task/Event Reminder</h1>
        <nav>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="home-page">
        <img class="home-pic" src="/static/img/Project_16-23.jpg" alt="">

        <aside>
            <p>Create a reminder by entering your details and the schedule of the reminder. Once the scheduled time has passed, you will receive a notification via email.</p>
            <a href="/setReminder">Get Started</a>
        </aside>
    </section>
</body>
</html>